.header {
    padding: 0.5rem;
    &__nav {
      &__list {
        display: flex;
        align-items: center;
        gap: 1.5rem;
  
        &__item {
          font-size: 1.4rem;
          &--logo {
            margin-right: auto;
            font-size: 2rem;
            font-weight: bolder;
          }
        }
      }
    }
  }
  