.quote {
    text-align: center;
    blockquote {
      text-align: left;
      border-left: .5rem solid #ccc;
      margin: 1.5rem 0;
      padding: .5rem 0 .5rem 1.5rem;
      color: #3a3a3a;
    }
  }