.tags {
    display: flex;
    gap: 1rem;
  
    &__item {
      padding: 0.25rem 1rem;
      border-radius: 2rem;
      border: 1px solid #cecece;
      color: #646464;
      font-size: 0.8rem;
    }
  }